ENV_STATE=local
DEBUG=true

# DATABASE CONNECTION
DATABASE_URL=postgresql+asyncpg://[user]:[pass]@[db_host]:[db_port]/[db_name]
POSTGRES_USER=[db_user]
POSTGRES_PASSWORD=[db_password]
POSTGRES_DB=[db_name]
POOL_SIZE=5
MAX_OVERFLOW=10
POOL_TIMEOUT=30
POOL_RECYCLE=3600
POOL_PRE_PING=true

# SECURITY
SECRET_KEY=my_very_secret_random_string_here_local_environment
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1
REFRESH_TOKEN_EXPIRE_MINUTES=43200

# REDIS CONNECTION
REDIS_URL=redis://[redis_host]:[redis_port]/0
REDIS_HOST=[redis_host]
REDIS_PORT=[redis_post]
REDIS_DB=0
REDIS_MAX_CONNECTIONS=50

# === LOGGING SETTINGS ===
LOG_LEVEL=INFO
LOG_JSON_FORMAT=False
LOG_MAX_BYTES=10485760
LOG_BACKUP_COUNT=5
LOG_DIR=/AuthService/logs